* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-color: gainsboro;
}
body.darkMode{
    background-color: black;
}
h1 {
    margin-left: 22%;
}
h1.darkMode {
    margin-left: 22%;
    color: white;
}
span {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}
span.darkMode {
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}
#clickMe {
    margin-left: 22%;
    display: inline;
    border: 1px solid black;
    padding: 6px 10px;
    border-radius: 10px;
}
#clickMe.darkMode {
    color: white;
    margin-left: 22%;
    display: inline;
    border: 1px solid white;
    padding: 6px 10px;
    border-radius: 10px;
}
#master {
    width: 100%;
    display: flex;
    justify-content: center;
}
.parent {
    display: flex;
    flex-direction: row;
    width: 800px;
    background-color: white;
    padding: 10px;
    margin: 15px 15px 20px;
    box-shadow: 2px 2px 5px gray;
    border-radius: 10px;
}
.parent:last-child {
    margin-bottom: 30px;
}
.parentDarkMode {
    display: flex;
    flex-direction: row;
    width: 800px;
    background-color: gray;
    padding: 10px;
    margin: 15px 15px 20px;
    box-shadow: 2px 2px 7px white;
    border-radius: 10px;
}
.parentDarkMode:last-child {
    margin-bottom: 30px;
}
.child {
    width: 33%;
}
.childDarkMode {
    width: 33%;
    color: white;
}

